@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Overpass:wght@300&family=Permanent+Marker&family=Roboto:wght@400;700");
@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none {
  @apply hidden;
}

html {
  scroll-behavior: smooth;
}

:root {
  --header-height: 3.5rem;
  /* --xxs: 0.625rem;
  --xs: 0.75rem;
  --sm: 0.813;
  --md: 0.938rem;
  --h1: 1.5rem;
  --h2: 1.25rem;
  --h3: 1rem;
  --lg: 1.75rem; */
}

h1,
h2,
h3 {
  /* @apply text-title; */
  @apply font-bold;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section-title {
  @apply text-3xl font-bold;
}

.section-subtitle {
  @apply text-lg font-bold text-primary text-center;
}

.about-container,
.skills-container,
.education-container {
  row-gap: 2rem;
}

.icon {
  @apply text-primary mb-2;
  font-size: 1.5rem;
}

.about-image {
  width: 220px;
  border-radius: 1.5rem;
  justify-self: center;
}

.skills-group {
  row-gap: 1rem;
}

.skills-content {
  @apply md:w-2/3 p-2 sm:w-4/5 xl:w-1/3;
}
.skills-content--inner {
  @apply bg-lightContainer dark:bg-container p-6 rounded-2xl box-shdw lg:py-12 lg:px-6;
}

.skills-box {
  @apply flex justify-center gap-12 flex-wrap;
}

.skills-display {
  @apply flex gap-2;
}

.skill-level {
  @apply text-xs md:text-sm;
}

.skill-icon {
  @apply text-sm text-primary;
}

.education-icon {
  @apply text-lg text-primary;
}

.education-card {
  @apply md:w-1/2 lg:w-1/3 xl:w-1/4 p-2;
}

.education-card--inner {
  @apply p-4 bg-lightContainer box-shdw dark:bg-container flex flex-col gap-2 justify-center items-center;
}
/* .section-title::before {
  content: "";
  @apply absolute w-12 h-2 bg-primary rounded-full mb-8;
} */

.badge {
  @apply px-4 py-2 text-sm rounded bg-primary text-black;
}

.badge.small {
  @apply px-2 py-1 text-xs;
}

.section-paragraph {
  @apply text-primary my-6 w-full max-w-3xl;
}

.card {
  border-radius: 1rem;
  @apply p-4 dark:bg-container bg-lightContainer box-shdw;
}

.card img {
  /* @apply bg-darkBG p-4; */
  border-radius: 1rem;
}

.work-button {
  @apply px-6 py-2 border-2 border-primary font-bold;
}

.work-company {
  @apply text-base;
}

.work-title {
  @apply text-primary text-3xl font-semibold;
}

.work-container {
  @apply flex justify-center text-center lg:text-left lg:block flex-col md:flex-wrap;
}

.work-time {
  @apply text-sm;
}

.work-description {
  @apply hidden md:inline-block pt-4;
}

@media screen and (min-width: 968px) {
  :root {
    /* --xs: 0.813rem;
    --sm: 0.875rem;
    --md: 1rem;
    --h1: 2.25rem;
    --h2: 1.5rem;
    --h3: 1.25rem;
    --lg: 2.5rem; */
  }
}

.project-modal {
  position: fixed;
  inset: 0;
  background-color: hsla(219, 28%, 16%, 0.7);
  padding: 2rem 1rem;
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  z-index: 1000;
}

.content {
  position: relative;
  background-color: hsl(219, 48%, 8%);
  padding: 4.5rem 1.5rem 2.5rem;
  border-radius: 1.5rem;
}

.content h3,
.content p {
  text-align: center;
}

.content h3 {
  @apply text-primary text-base mb-4;
}

.content p {
  @apply mb-4 text-sm;
}

.content .close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  @apply text-primary cursor-pointer;
}

.active-modal {
  opacity: 1;
  visibility: visible;
}

.box-shdw {
  box-shadow: 0 2px 8px hsla(219, 48%, 8%, 0.1);
}

.profile-img {
  justify-self: center;
  width: 400px;
  height: 400px;
  background: linear-gradient(#a394e9, #9198e536);
  border-radius: 2rem;
}
