/* @font-face {
  font-family: "Moon Bold";
  src: url("/assets/font/Moon\ Bold.otf") format("opentype");
}

@font-face {
  font-family: "Stay Classy";
  src: url("/assets/font/Stay\ Classy\ SLDT.ttf") format("truetype");
}

@font-face {
  font-family: "Black Jack";
  src: url("/assets/font/blackjack.otf") format("opentype"); */
/* }
@font-face {
  font-family: "Gloriousity Two";
  src: url("/assets/font/Gloriousity\ Two.ttf") format("truetype");
}

@font-face {
  font-family: "Pink and Brown";
  src: url("/assets/font/Pink_and_Brown-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/assets/font/Quicksand-Regular.otf") format("opentype");
} */
